  body {
    background: linear-gradient(to bottom, #f0f4f8, #dfe9f3);
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
.logo {
    object-fit: contain;
}
  .form-select {
      width: 150px;
  }

.table-bordered {
  background: white; /* 🟢 правильно, не backgroud, а background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* мягкая тень */
  border-radius: 0.5rem; /* скруглённые углы */
  padding: 1.5rem; /* отступ внутри */
  margin-bottom: 1.5rem; /* отступ снизу */
}
