  body {
    background: linear-gradient(to bottom, #f0f4f8, #dfe9f3);
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
.logo {
    object-fit: contain;
}
  .form-select {
      width: 150px;
      margin:18px;
  }

.table-bordered {
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

form {
  background-color: #f8f9fa;
  padding: 13px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  min-width: 400px;
  margin: 40px auto;
}
h2 {
  text-align: center;
  margin-top: 40px;
}

a {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #007bff;
}
a:hover {
  text-decoration: underline;
}

.btn-primary {
width:150px;
}