  body {
    background: linear-gradient(to bottom, #f0f4f8, #dfe9f3);
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
.logo {
    object-fit: contain;
}
  .form-select {
      width: 150px;
  }